@font-face {
    font-family: roboto;
    src: url(../../archivos_generales/fuentes/Roboto-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: content-box;
}

body {
   
    margin: auto;
}


/*Header*/

#header {
    background-color: #a5d6a7;
}

#stlogo {
    width: 8%;
    margin: auto;
}

#header2 {
    background-color: #333;
    height: 35px;
}



.cont{
    width: 25%;
    position: relative;
    top: 30px;
}

.cont > label{
    position: absolute;
    left: 5%;
    transition: all .3s ease;
}

.cont > label.active.stay{
    margin-top: -16px;
    font-size: 11px;
    color: #2980b9;
}

.txt{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #ecf0f1;
    margin-left: 5%;
    transition: all .3s ease;
}

.cont > label.active + input{
    border-color: #2980b9;
}
