*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Inicio datos vista */
body{
    font-family: 'Roboto',sans-serif;
    padding: 0;
    margin: 0;
    
}
.btnMenu{
    top:    0;
  position: relative;
    display: none;
    padding: 20px;
    background: #3e50b4;
    color: #fff;
}
.bar-menu{
    font-family: sans-serif;
}
.barra-lateral{
    position: fixed;
    width: 20%;
    height: 100%;
    background: #fafafa;
    color: #fff;
    border-right: 1px solid black;
  
}
.barra-lateral .cabera-menu{
    text-align: center;
    width: 100%;
    padding: 10px;
    background: #008975;
}
.barra-lateral ul{
    list-style: none;
    
}

.barra-lateral a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.barra-lateral li{
  
   transition: border 0.2s;
 }
 
.barra-lateral li:hover{
 
   border-left: 5px solid hsl(157, 72%, 31%);
}
.barra-lateral li a:hover{
    background: #00bf9a;
    color: #fff;
   
 }
 

/* Contenido */
.contenido{
   

    width: 80%;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 30px;
    margin-left: 20%;
    transition: all 0.3s;
    background: #fafafa;
    box-sizing: border-box;
    
}

.btn-bar{
    cursor: pointer;
}
.cont-Father{
    width: 100%;
}













@media screen and (max-width: 450px){
   
    .bar-menu{
        margin: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
   
    .btnMenu {
        display: block;
    }
    .contenido{
        display: none;
    }
    .barra-lateral{
        display: none;
    }
}
/* fin de vista */