*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* Barra Superior */
.tabla{
    position: relative;
}
.bar-Men{
    position: fixed;
    width: 100%;
    background-color: #303f9f;
    -webkit-box-shadow: 6px 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 6px 3px 5px -3px rgba(248, 59, 59, 0.45);
    height: 10%;
    display: inline-block;
    overflow: hidden;
    min-height: 15px;
}
.btnMenuBar{
    position: absolute;
    left: 0%;
    padding: 15px;
    margin: auto;

    color: #fff;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 30px;    
}

body{
    font-family: 'Roboto',sans-serif;
}
a{text-decoration: none}
.horizontal-menu {
    position: absolute;
    right: 0%;
    
}
.bar-Men .horizontal-menu{
    height: 100%;
}
.horizontal-menu ul{
    height: 100%;
}
.horizontal-menu  ul>li{
    height: 100%;
    display: inline-block;
    list-style: none;
    
}
.horizontal-menu  ul>li:hover{
   background: #1a237e;
   color: #fff;
}
.horizontal-menu li a{
   
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 20px;
}
.botonBar{
    display: none;
}
.botonBar > a{
    position: absolute;
    right: 0%;
    padding: 10px;
    margin: auto;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
}
.menuLateral{
    position: relative;
    height: 100%;
    top:10%;
    width: 50%;
    background: #e8eaf6 ;
    display: none;   
}
.menuLateral .bloque{
    width: 100%;
}
.menuLateral .bloque li a{
    color: black;
    display: block;
    padding: 15px 20px;
}

.menuLateral .bloque li a:hover{
    -moz-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    background: #d1c4e9 ;
    color: rgb(226, 27, 27);
}
@media screen and (max-width: 450px){
    
    .mostrar{
        display: none;
    }
    .botonBar{
        display: block;
    }
    .menuLateral{
        position: fixed;
        display: inline;
    }
}