* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Inicio datos vista */

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.btnMenu {
    top: 0;
    position: relative;
    display: block;
    padding: 20px;
    background: #3e50b4;
    color: #fff;
}

.barra-lateral {
    position: fixed;
    width: 20%;
    height: 100%;
   
    background: #FDFDFD;
    color: #fff;
}

.barra-lateral .cabera-menu {
    text-align: center;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
}

.barra-lateral ul {
    list-style: none;
    
}

.barra-lateral a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.barra-lateral li a {
    transition: border 0.2s;
}

#liD {
    margin-left: 5%;
}

.barra-lateral li a:hover {
    border-left: 5px solid #212121;
}

.barra-lateral li a:hover {
    background: #fafafa;
    color: #000;
}

.des {
    display: none;
}

.act {
    display: block;
    background: #DCDCDC;
}

/**
  *logo
  */

.logo {
    width: 120px;
    height: 100px;
}

/**
 *Contenido 
 */

.contenido {
    width: 80%;
    height: 100%;
    overflow: auto;
    position: fixed;
    margin-left: 20%;
    transition: all 0.3s;
    background: #FDFDFD;
    box-sizing: border-box;
    -webkit-box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.45);
    box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.45);
}

#indexConte {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 30px;
    transition: all 0.3s;
    background: #FDFDFD;
    box-sizing: border-box;
    -webkit-box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.45);
    box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.45);
}

.contenido .info {
    padding: 30px;
    margin: auto;
    
}

.btn-bar {
    cursor: pointer;
}


#indexInfo {
    
    padding-top: 100px;
    width: 100%;
}

#top-menu {
    width: 100%;
    position: fixed;
    background: #3e50b4;
    height: auto;
}

#top-menu span {
    position: absolute;
    padding: 5px;
    left: 6%;
    color: #fff;
    font-size: 25px;

}

.bloque {
    position: relative;
    display: inline-flex;
    left: 60%;
}

.bloque li {
    width: 100%;

}

.bloque li a {
    display: block;
    color: #fff;
    height: 100%;
    font-size: 25px;
}

.bloque li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 25px;
    transition: all .5s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* LAteral */
 .sub{
   display: none;
   
}
.VistaMenu .Primer ul a{
    position: relative;
    left: 5%;
   
    outline-color: #DCDCDC;
}


/**
   * Footer Styles
   */

.footer {
    position: absolute;
    padding: 1rem;
    height: 180px;
    width: 100%;
    background-color: #212121;
    text-align: center;
}

.footer h4 {
    color: #fff;
}

.footer ul {
    list-style: none;
}

.footer a {
    color: #fff;
    text-decoration: none;
}


p {
    text-align: justify;

}

.p1 {
    width: 45%;
    height: 30%;
}

.tabla {
    position: relative;
}

.bar-Men {
    position: fixed;
    width: 100%;
    background-color: #66bb6a;
    z-index:0;
}

#btnIndex {
    position: absolute;
    left: 0%;
    padding: 15px;
    margin: auto;

    color: #fff;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none
}

.horizontal-menu ul > li {
    float: right;
    height: 100%;
    display: inline-block;
    list-style: none;


}

.horizontal-menu ul > li:hover,
#btnIndex:hover {
    background: #4caf50;
    color: #fff;
}

.horizontal-menu li a,
#btnIndex {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 30px;
}

.botonBar {
    display: none;
}

.botonBar > a {
    position: absolute;
    right: 0%;
    padding: 10px;
    margin: auto;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.menuLateral {
    position: relative;
    height: 100%;
    top: 10%;
    width: 50%;
    background: #e8eaf6;
    display: none;
}

.menuLateral .bloque {
    width: 100%;
}

.menuLateral .bloque li a {
    color: black;
    display: block;
    padding: 15px 20px;
}

.menuLateral .bloque li a:hover {
    -moz-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    background: #d1c4e9;
    color: rgb(226, 27, 27);
}

@media screen and (max-width: 450px) {

    .mostrar {
        display: none;
    }
    .botonBar {
        display: block;
    }
    .menuLateral {
        position: fixed;
        display: inline;
    }
}

/* tarjeta */

.tarjeta {
    width: 80%;
    margin: auto;
}

.tarjeta div{
    margin-left: 35%;
}
.tarjeta2 div{
    margin-left: 25%;
}
#motivo{
    width: 14;
}
/* imgs Estilos generales */

.imgDoc {
    width: 20%;
    height: 20%;
    margin: auto;
}

/* Cuentas - Mostrar Dinero */

.mostrarDinero {
    width: 20%;
    margin: auto;
    margin-top: 10%;
}

.mostrarDinero span {
    width: 100%;
    margin: auto;
}

.Sec-Info{
    width: 60%;
    margin: auto;
    margin-top: 10%;
}
/*  */
#tarjetas{
    display: none;
}
#cuentas{
    display: none;
}

/**
  * Responsive 
  */

@media screen and (max-width: 450px) {


    .btnMenu {
        display: block;
    }
    .contenido {
        display: none;
    }
    .barra-lateral {
        width:70%;
    }
   .
   
}
